<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @survey.name %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= @survey.major %>
  </p>

  <p>
    <strong>Laptop:</strong>
    <%= @survey.laptop %>
  </p>

  <p>
    <strong>Os:</strong>
    <%= @survey.os %>
  </p>

  <p>
    <strong>Excited :</strong>
    <%= @survey.level %>
  </p>

  <%= link_to 'Edit', edit_survey_path(@survey) %> |
  <%= link_to 'View All', surveys_path %>
</div>